body {
    font-family: Arial, sans-serif;
    background-color: #ddddddab;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh; /* Define a altura do body como 100% da altura da viewport */
    display: flex;
    flex-direction: column;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Faz com que o container ocupe toda a altura da tela */
}
h2{
    font-size: sans-serif;
    font-size: 18px;
}
.menu-lateral {
    width: 20%;
    background-color: #1d1d1d;
    padding: 20px;
    color: #fff;
    height: 100vh; /* Garante que o menu ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Faz o conteúdo expandir uniformemente */
}

.menu-lateral h2 {
    color: #dbdbdb;
    text-align: center;
    margin-top: 20px; /* Espaçamento superior do título */
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1; /* Faz o menu expandir para ocupar o espaço disponível */
}

.menu-lateral ul li {
    margin: 10px 0;
}

.menu-lateral ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #34495e;
    padding: 10px;
    display: block;
    border-radius: 5px;
    text-align: center;
}

.menu-lateral ul li a:hover {
    background-color: #30712b;
}

/* Container do logo */
.logo-container {
    text-align: center; /* Centraliza o logo dentro do container */
    margin-bottom: 20px; /* Espaçamento abaixo do logo */
}

/* Estilo do logo */
.logo {
    width: 100px; /* Ajuste o tamanho do logo conforme necessário */
    height: 100px; /* Ajuste o tamanho do logo conforme necessário */
    border-radius: 60%; /* Torna o logo circular */
    object-fit: cover; /* Garante que a imagem se ajuste bem ao círculo */
    border: 3px solid #49634795; /* Opcional: adicione uma borda branca ao redor do logo */
}

.content {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a altura da tela */
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.total-mes-container {
    background-color: #30712b;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.5em;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.flex-item {
    width: 48%;
    background-color: #fff;
    padding: 10px;
}

.gastos-categoria, .gastos-pagamento {
    margin: 20px 0;
}

.gastos-categoria h2, .gastos-pagamento h2 {
    color: #2c3e50;
    font-size: 1.4em;
    margin-bottom: 10px;
    border-bottom: 2px solid #30712b;
    padding-bottom: 5px;
}

.card {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: #34495e;
    font-size: 1.2em;
}

.card p {
    font-size: 1.1em;
    color: #333;
}
