/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #dededeee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #b1b1b1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos do formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="date"],
input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #658f5c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #253d25;
}

/* Estilos do botão de voltar */
.btn-voltar {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    background-color: #253d25;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-voltar:hover {
    background-color: #658f5c;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    input[type="date"],
    input[type="text"],
    input[type="number"],
    button[type="submit"],
    .btn-voltar {
        font-size: 14px;
        padding: 10px;
    }
}
