/* Estilo geral para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #b1b1b1bf;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Container principal */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(156, 150, 150, 0.075);
    box-shadow: 0 0 10px rgba(48, 113, 43, 0.5); /* Sombreado verde com a cor dos botões */
}

/* Cabeçalho principal */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Cabeçalho de cada mês */
h3 {
    background-color: #30712b;
    color: #fff;
    padding: 10px;
    text-align: left;
    margin-top: 20px;
}

/* Estilo das tabelas */
.historico-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

/* Cabeçalho das tabelas */
.historico-table th {
    background-color: #1d1d1dc4;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #30712b;
}

/* Linhas das tabelas */
.historico-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Estilo das linhas alternadas */
.historico-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo para o valor total */
.total-row {
    background-color: #e9ecef;
    font-weight: bold;
}

/* Navegação entre meses */
.navigation {
    text-align: center;
    margin-top: 30px;
}

.navigation a {
    text-decoration: none;
    padding: 10px;
    background-color: #3a423c;
    color: #fff;
    margin: 0 5px;
    border-radius: 4px;
}

.navigation a:hover {
    background-color: #30712b;
}

/* Estilo dos botões de ação */
.btn-editar, .btn-excluir {
    padding: 8px 12px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.btn-editar {
    background-color: #30712b;
    color: #fff;
}

.btn-excluir {
    background-color: #30712b;
    color: #fff;
}

.btn-voltar {
    padding: 8px 12px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #30712b;
    color: #fff;
    margin: 8px;
    width: 140px; /* Tamanho fixo */
    text-align: center;
    display: inline-block; /* Exibe os botões lado a lado */
}

/* Centralizar os três botões específicos no final da página */
.buttons-container {
    text-align: center; /* Centraliza o conteúdo dentro do container */
    margin-top: 20px; /* Espaço acima dos botões */
}

.btn-voltar:hover {
    opacity: 0.8;
}

/* Mensagem de confirmação */
.mensagem {
    color: #28a745;
    font-size: 16px;
    margin-bottom: 20px;
}

.navigation .disabled {
    color: #ccc;
    cursor: not-allowed;
    padding: 10px;
    margin: 0 5px;
    border-radius: 4px;
    background-color: #e0e0e0;
    display: inline-block;
}
