/* Estilos unificados */

/* Reset de margem e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Corpo com background escuro e centralização de conteúdo */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
   
    position: relative;
}

/* Estilo da logo */
.logo {
    display: block;
    margin: 0 auto 1px auto;
    width: 155px;
    height: auto;
}

/* Caixa de login com efeito de vidro */
.wrapper {
    position: relative;
    width: 400px;
    padding: 35px 20px;
    background: rgba(255, 255, 255, .15);
    box-shadow: 0 8px 32px rgba(37, 89, 31, 0.299);
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0px;
}
/* Estilo do placeholder */
::placeholder {
    color: rgba(255, 255, 255, 0.797);
    font-style: sans-serif;
    font-size: 14px;
}

/* Estilo do título */
h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

/* Estilo para parágrafos */
p {
    color: #fff;
    font-size: 15px;
}

/* Estilo das caixas de entrada */
.input-box {
    position: relative;
    width: 350px;
    margin: 15px 0;
    border-bottom: 2px solid #fff;
}

/* Estilo das labels */
.input-box label {
    position: absolute;
    top: 10%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    color: #fff;
    transition: .5s;
}

/* Efeito ao focar nas caixas de entrada */
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 5px;
}

/* Estilo das caixas de entrada */
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 10px 0 5px;
}

/* Estilo dos ícones */
.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

/* Botão de login */
button {
    width: 100%;
    height: 45px;
    background: #30712b;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

button:hover {
    background-color: #4cae4c;
}

/* Link de registro */
.register-link {
    font-size: .9em;
    text-align: center;
    color: #fff;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* Blob animado */
.blob {
    position: absolute;
    width: 700px;
    height: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.42) 31.77%, #2d5b37 100%);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    transform: translate(-100px, -50px) rotate(-90deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animateBlob 20s infinite alternate;
}

.blob:hover {
    width: 520px;
    height: 520px;
    filter: blur(30px);
    box-shadow:
        inset 0 0 0 5px rgba(255, 255, 255, .6),
        inset 100px 100px 0 0 #54684a,
        inset 200px 200px 0 0 #d0e2d2,
        inset 300px 300px 0 0 #5e8c47;
}

@keyframes animateBlob {
    100% {
        transform: translate(300px, 50px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

/* Mensagem de erro ou sucesso */
.mensagem {
    width: 100%;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}
